<form action="/User/Profile.cshtml" class="needs-validation" novalidate>
    <div class="form-group">
        <label for="uname">Логин:</label>
        <input type="text" class="form-control" id="uname" placeholder="Введите логин" name="uname" required>
        <div class="invalid-feedback">Заполните это поле.</div>
    </div>
    <div class="form-group">
        <label for="pwd">Пароль:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Введите пароль" name="pswd" required>
        <div class="invalid-feedback">Заполните это поле.</div>
    </div>
    <button type="submit" class="btn btn-primary" asp-area="" asp-controller="User" asp-action="Profile">Войти</button>
</form>

<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>