<div class="container mt-3">
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Сайт</th>
                <th>Логин</th>
                <th>Пароль</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr>
                <td>www.pinterest.ru</td>
                <td>Doe</td>
                <td>1234</td>
            </tr>
            <tr>
                <td>www.pinterest.ru</td>
                <td>Moe</td>
                <td>woeriu hef</td>
            </tr>
            <tr>
                <td>www.instagram.org</td>
                <td>Dooley</td>
                <td>z[s[fhei23</td>
            </tr>
            <tr>
                <td>www.kpfu.ru</td>
                <td>Ravendale</td>
                <td>1223454</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

@{
    Layout = "_LayoutUser";
}
